:root {
    --bgcolor: #182618; 
    --fontcolor: #F2F2F2;
    --headcolor: #57BA98;
    --bodycolor: #F7EFE5;
  }
  * {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  body {
    background-color: var(--bodycolor);
    margin: 0;
    padding: 0;
  }
  header, footer {
    color: var(--headcolor);
    padding: 10px;
  }
  header  h1 {
    text-shadow: 2px 2px grey;
    margin-top: 0px;
  }
  header img {
    float:left;
    margin-right: 5px;
  }
  nav {
    background: var(--headcolor);
    padding: 10px;
    clear: left;
  }
  
  a:link, a:visited {
    text-decoration:none;
    color: white;
    border-right: 2px solid white;
    padding: 0 5px ;
  }
  a:hover, a:active {
    color: yellow;
    font-style: italic;
  }
  
  section {
    color: var(--fontcolor);
    width: 60%;
    margin: 10px auto;
    border: 2px solid grey;
    padding: 10px;
    background:var(--bgcolor);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black
  }
  footer {
    text-decoration:underline;
    text-align: center;
  }
   @media (max-width: 700px) {
          section {
            width: 90%;
          }
          section:not(section:nth-of-type(3)) { /* will not be applied on the 3rd section containing the youtube video */
            flex-direction: column;
          }
          article {
            width: 90%
          }
          nav {
            text-align: center;
          }
          a:link, a:visited {
            border-right: none;
            border-bottom: 2px solid white;
            display: block;
            padding: 5px 0;
          }
        }